* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: hsl(0, 0%, 20%);
  background-color: hsl(0, 0%, 90%);
}

#main-header {
  background-color: hsl(284, 65%, 24%);
  color: hsl(0, 0%, 90%);
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#language {
  text-align: end;
}

#main-header p {
  margin: 1.5rem 0 0 0;
}

#main-header i {
  margin-left: 0.5rem;
}

#main-header i.fa-x {
  color: hsl(280, 100%, 50%);
}

#main-header i.fa-o {
  color: hsl(300, 100%, 50%);
}

#main-header i.fa-html5 {
  color: hsl(25, 100%, 50%);
}

#main-header i.fa-css3-alt {
  color: hsl(200, 100%, 50%);
}

#main-header i.fa-js {
  color: hsl(55, 100%, 50%);
}

#main-header i.fa-heart {
  color: hsl(0, 100%, 50%);
}

#main-header i.fa-mug-hot {
  color: hsl(330, 100%, 50%);
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  background-color: hsl(284, 65%, 24%);
  border: 1px solid hsl(284, 65%, 24%);
  color: hsl(0, 0%, 90%);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  cursor: pointer;
}

.btn-alt {
  background-color: transparent;
  border-color: transparent;
  color: hsl(284, 65%, 24%);
}

.btn:hover {
  background-color: hsl(275, 66%, 44%);
  border-color: hsl(275, 66%, 44%);
}

.btn-alt:hover {
  background-color: hsl(280, 100%, 88%);
  border-color: transparent;
}
